#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  margin: 5em;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#mainContainer {
  display: flex;
  justify-content: space-around;
  padding: 5vw;
}
#mainContainer > div {
  padding: 2vw;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh;
  width: 100%;
  box-sizing: border-box;
  padding-right: 2vw;
}

form > button {
  align-self: center;
}
